<ion-header>
  <ion-toolbar>
    <ion-title>Hearthly</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
      </ion-button>
      <ion-button [routerLink]="['/app/account']" class="avatar-button">
        @if (pictureUrl() && !imageError()) {
          <img class="avatar-img" [src]="pictureUrl()" (error)="onImageError()" alt="Profile">
        } @else {
          <span class="avatar">{{ initials() }}</span>
        }
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
